canvas{
    border: 1px  solid black;
  }
  body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FFC107;
  }

  .lst{
    margin-bottom:20px;
  }
  