*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    flex-direction: column;

}

.bd{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.select{
    width: 30vw;
    margin-top: 10px;
}