{% include 'base.html' %}
{% load static %}
{% block title %}
    <title>home</title> 
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
{% endblock css %}

{% block body %}
    <div class="container-flex bg-warning bd">
  {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {% if msg.tags == warning %}
    {% for msg in messages %}
      <strong>{{msg.tags}}!</strong> {{msg}}
    {% endfor %}
  {% else %}
    {% for msg in messages %}
    <strong>{{msg.tags}}!</strong> {{msg}}
    {% endfor %}
  {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
    <div class="container bg-light">
  <div class="card-body">
    <canvas id="myChart"></canvas>
  </div>
</div>

</div> 
    
{% endblock body %}

{% block js %}
    <script>
        // Any of the following formats may be used
var ctx = document.getElementById('myChart');
var ctx = document.getElementById('myChart').getContext('2d');
var ctx = $('#myChart');
var ctx = 'myChart';
var st='bar'
console.log("hello console");
var ctx = document.getElementById('myChart');

function select(){
var vt=document.getElementById('select').value
st=vt
console.log(st);
}
var myChart = new Chart(ctx, {
    type: st,
    data: {
        labels: [{% for x in label %}'{{x}}',{% endfor %}],
        datasets: [{
            label: '# of votes',
            data:[ {% for y in data %}{{y}},{% endfor %}],
            backgroundColor: [ {% for y in color %} '{{y}}', {% endfor %}],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                
            }
        }
        }
    
});



    </script>  
{% endblock js %}