{% include 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock css %}

{% block body %}
<div class="container">
<h2 class="text-center">Login</h2>
<form action="" method='post' novalidate>
{% csrf_token %}
  <div class="feedback">
      {{ form.non_field_errors }}
   </div>
{% for field in form %}

<div class="form-floating mb-3">
    {% if 'Password' in field.label_tag  %}
  <input type="password" class="form-control" id="floatingInput" placeholder={{field}}
    {% else %}
  <input type="text" class="form-control" id="floatingInput" placeholder={{field}}
    {% endif %}
  <label for="floatingInput">{{field.label_tag}}</label>
   <div class="feedback">
      {{ field.errors }}
   </div>
</div>
{% endfor %}
<button type='submit' class="btn btn-primary">submit</button>
</form>

</div>

{% endblock body %}